<!DOCTYPE html>
<html>
<head>
    <title>Create an Account:</title>
</head>
<body>
    <h1>New User Created</h1>
    <p>User details:</p>
    <ul>
        <li>Username: {{ user.UserName }}</li>
        <li>Email: {{ user.Email }}</li>
        <li>Address: {{ user.Address }}</li>
        <li>First Name: {{ user.FirstName }}</li>
        <li>Last Name: {{ user.LastName }}</li>
        <li>City: {{ user.City }}</li>
        <li>Province: {{ user.Province }}</li>
        <li>Email Verified: {{ user.EmailVerified }}</li>
    </ul>
</body>
</html>