
<div class="row d-flex justify-content-center">
  <div class="col-md-11 col-lg-10 p-1 p-sm-3 p-lg-5 my-5 bg-white rounded" style="box-shadow: 0px 4px 15px rgba(255, 182, 193, 0.5);">

    <table class="table table-sm table-hover table-striped table-dark text-center m-auto">
      {{#if order}}
      <caption data-orderdate="{{order.createdAt}}">Order-ID: <span class="badge badge-info">{{order.id}}</span> Order
        Date: <span class="badge badge-info">{{order.createdAt}}</span></caption>
      {{/if}}
      <thead class="thead-light">
        <tr>
          <th id="name-row-head" title="Name of Item ordered" scope="col">Item</th>
          <th id="cost-row-head" title="Cost of item paid in US$" scope="col"><i class="fas fa-dollar-sign"></i> Unit
            Cost</th>
          <th id="totals-row-head" title="Quantity ordered of Item" scope="col"><span class="d-none d-xl-inline">Bought
            </span>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {{#if order}}
        {{#each order.order_items}}
        <tr>
          <th class="name-row" scope="row" title="Item: {{product.name}}: {{product.description}}">
            {{product.name}}</th>
          <td class="cost-row" scope="row" title="Item: {{product.name}} Cost: ${{each_price}} "><i class="fas fa-dollar-sign"></i> {{each_price}}</td>
          <td class="amount-row" scope="row" title="Number of this item ordered: {{num}}">{{num}}
          </td>
        </tr>
        {{/each}}
        <tr>
          <th colspan="1" title="Total cost for this order: {{order.order_total}}">Total Paid: <span id="cart-item-cost" class="badge badge-primary p-2">{{order.order_total}}</span> </th>
          <td colspan="2" title="Number of unique items on this order: {{order.order_items.length}}"><span class="d-none d-lg-inline">Unique items</span> Ordered: <span id="cart-item-quantity" class="badge badge-primary p-2">{{order.order_items.length}}</span></td>
        </tr>
        {{else}}
        <tr>
          <th scope="row" colspan="4" class="text-danger text-dark bg-warning py-3">Sorry couldn't find a valid order
            for that Order-ID<i class="fas fa-cart-plus"></i></th>
        </tr>
        {{/if}}
      </tbody>
    </table>
    <caption>
      <i class="fas fa-receipt"> View Order</i><i class="fas fa-arrow-circle-up"></i>
    </caption>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="btn btn-primary" href="/account" title="Update your account"><i class="fas fa-receipt">
            Account</i></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" href="/account/orders" title="View Past orders"><i class="fas fa-receipt"> Past
            Orders</i></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" href="/" title="Browse categories"><i class="fas fa-store-alt"> Shop</i></a>
      </li>
    </ul>
  </div>
</div>